In [1]:
import os
import django

os.environ["DJANGO_SETTINGS_MODULE"] ='config.settings'
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] ='true'

django.setup()

In [8]:
from app1.models import Person

# 삽입
# 모델 객체 생성 person = Person(first_name="hong",last_name="dong") person.save()
# create() : Person.objects.create(first_name="hong",last_name="dong")
Person.objects.create(first_name="hong",last_name="dong")

In [9]:
Person.objects.create(first_name="sub",last_name="flower")
Person.objects.create(first_name="kim",last_name="eunji")

In [2]:
from app1.models import Person

# 전체 조회 : all()
qs = Person.objects.all()
qs

In [11]:
print(qs.query)

SELECT "person"."id", "person"."first_name", "person"."last_name", "person"."create_at" FROM "person"

In [3]:
# 하나 조회

Person.objects.get(id=1)

In [4]:
# 하나 조회

Person.objects.filter(id=1)

In [7]:
# like : first_name 에 kim 포함하고 있는
Person.objects.filter(first_name__contains='sub')

In [10]:
# Person.objects.id(id=5)
Person.objects.filter(id=5)

In [12]:
Person.objects.all()[1]
Person.objects.all()[:2]

In [13]:
list(Person.objects.all())

#### Post 모델

In [3]:
from app1.models import Post

Post.objects.all()

In [4]:
# 전체 행 개수 조회
Post.objects.count()

3

In [6]:
# 오름차순 정렬
Post.objects.order_by("created_at")

In [7]:
# 내림차순 정렬
Post.objects.order_by("-created_at")

In [8]:
# exclue(조건) : 조건을 제외한 모든 행 조회
Post.objects.exclude(id=3)

In [9]:
qs = Post.objects.all()

for post in qs:
    print(post.id,post.title,post.content)

1 모델1 모델1
2 모델2 모델2
3 모델3 모델3

In [12]:
# title에 장고라는 문자가 포함된 행 조회 : contains , icontains(대소문자 구별X)
Post.objects.filter(title__contains="모델")

In [13]:
# title에 모델델라는 문자가 포함되고, 작성자가 성춘향인 행 조회
# 괄호 안에 1개 이상의 인자 지정하면 무조건 AND 개념임, OR 는 다른방식 사용
Post.objects.filter(title__contains="모델",author_name="성춘향")

In [15]:
Post.objects.filter(title__contains="모델").order_by("-created_at")

#### Musician

In [9]:
from exam.models import Musician

# 전체조회
Musician.objects.all()
for m in Musician.objects.all():
    print(m.id,m.name,m.instrument)

1 테스트 바이올린
2 강 첼로
3 홍길동 트럼펫
4 홍길동 호른

In [10]:
# 특정 조건을 만족하는 조회 : 하나만 조회 get(),여러개 조회 filter()

# id(pk)가 3번인 사람 조회
Musician.objects.get(id=3)

In [15]:
Musician.objects.filter(id=3)

In [16]:
Musician.objects.filter(instrument="피아노")

In [19]:
# 악기가 피아노인 사람들 추출
Musician.objects.filter(instrument__contains="피아노")

In [20]:
# 악기가 피아노가 아닌 사람들 추출
Musician.objects.exclude(instrument="피아노")

#### Comment

In [10]:
from app1.models import Comment ,Post

# Comment 모두 가져오기
Comment.objects.all()

In [7]:
# id가 1인 comment 조회\

comment = Comment.objects.get(id=1)
comment

In [8]:
# id가 1인 comment의 원본들 정보 조회
comment.post

In [14]:
# post id가 1인 댓글 모두 조회
post = Post.objects.get(id=1)
comments = Comment.objects.filter(post=post)
for comment in comments:
    print(comment)

댓글 작성1
댓글댓글

In [15]:
# POST 쪽에서 Comment 접근 : 접근모델명소문자_set

post.comment_set.all()