In [2]:
import os
import django

os.environ["DJANGO_SETTINGS_MODULE"] ='config.settings'
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] ='true'

django.setup()

In [8]:
from app1.models import Person

# 삽입
# 모델 객체 생성 person = Person(first_name="hong",last_name="dong") person.save()
# create() : Person.objects.create(first_name="hong",last_name="dong")
Person.objects.create(first_name="hong",last_name="dong")

In [9]:
Person.objects.create(first_name="sub",last_name="flower")
Person.objects.create(first_name="kim",last_name="eunji")

In [2]:
from app1.models import Person

# 전체 조회 : all()
qs = Person.objects.all()
qs

In [11]:
print(qs.query)

SELECT "person"."id", "person"."first_name", "person"."last_name", "person"."create_at" FROM "person"

In [3]:
# 하나 조회

Person.objects.get(id=1)

In [4]:
# 하나 조회

Person.objects.filter(id=1)

In [7]:
# like : first_name 에 kim 포함하고 있는
Person.objects.filter(first_name__contains='sub')

In [10]:
# Person.objects.id(id=5)
Person.objects.filter(id=5)

In [12]:
Person.objects.all()[1]
Person.objects.all()[:2]

In [13]:
list(Person.objects.all())

#### Post 모델

In [3]:
from app1.models import Post

Post.objects.all()

In [4]:
# 전체 행 개수 조회
Post.objects.count()

3

In [6]:
# 오름차순 정렬
Post.objects.order_by("created_at")

In [7]:
# 내림차순 정렬
Post.objects.order_by("-created_at")

In [8]:
# exclue(조건) : 조건을 제외한 모든 행 조회
Post.objects.exclude(id=3)

In [9]:
qs = Post.objects.all()

for post in qs:
    print(post.id,post.title,post.content)

1 모델1 모델1
2 모델2 모델2
3 모델3 모델3

In [12]:
# title에 장고라는 문자가 포함된 행 조회 : contains , icontains(대소문자 구별X)
Post.objects.filter(title__contains="모델")

In [13]:
# title에 모델델라는 문자가 포함되고, 작성자가 성춘향인 행 조회
# 괄호 안에 1개 이상의 인자 지정하면 무조건 AND 개념임, OR 는 다른방식 사용
Post.objects.filter(title__contains="모델",author_name="성춘향")

In [15]:
Post.objects.filter(title__contains="모델").order_by("-created_at")